/*----------------------------------------*/
/*----------------------------------------*/
@import url(reset.css);
/*----------------------------------------*/
/*----------------------------------------*/
body {
    font-family: 'Poppins';
    font-weight: 300;
    color: #9C9C9C;
    background-color:#fcf9f4 ;
}
/*----------------------------------------*/
.wrapper {
min-height: 100%;
display: flex;
flex-direction: column;
overflow: clip;
}
/*----------------------------------------*/
.page {
    flex: 1 1 auto;
    padding-top: 160px;
}
/*-----------------------------------------*/
[class*="__conteiner"]{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
}
.body_box__conteiner {
    display:flex;
    column-gap: 60px;
}
.sections {
    width: calc(50% - 20px) ;
}
.title_text {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}
/*-----------------------------------------*/
/*Header*/
/*-----------------------------------------*/
.header {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #4c9173;
}

.header__conteiner {
    display: flex;
    align-items: center;
    min-height: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header_menu {
    flex: 1 1 auto;
}
.menu_list {
    display:flex;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 35px;
    justify-content: flex-end;
}

.menu_link {
    display: block;
    color:#fff;
    font-size: 16px;
    line-height: 1.62; /* 26/16 */
}

.menu_link:hover {
    opacity: 0.7;
    transition: all 0.5s;
    transform: scale(1.1);
}
.icon-menu {
    display:none;
}
/*--------------------------------------------------*/
/*main section*/
/*--------------------------------------------------*/
.main-conteiner {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .section {
    width: 50%;
    color:black
  }

  .img_profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile_page {
    padding: 10px 30px 35px;
   
}

.profile__conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: 15px solid #906387;
}

.image_body {
    display: inline-block;
    border: 5px solid #5b446a;
    border-radius: 50%;
    padding: 10px;   
}

.profile_content {
    align-self: center; 
}

.title_name {
    position: relative;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
    margin-bottom: 30px;
}

.title_name::before {
    content: "";
    position: absolute;
    top: 1em;
    left: 75px;
    width: 140px;
    height: 2px; 
    border: 1px solid #829985;
    margin-top: 30px; 
} 

.profile_vocation {
    font-size: 18px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*----------------------------------------------*/
/*contacts section*/
/*----------------------------------------------*/

.contacts_page {
    border-bottom: 1px solid #672f2f;
    padding: 0 10px 35px 10px;
}

.contacts_item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.contacts_item:not(:last-child) {
    margin-bottom: 14.5px;
}

.fa-solid {
    margin-right: 18px;

}
.fa-brands {
    margin-right: 15px;

}
.fa-discord {
    margin-right: 10px;

}
.fa-envelope { 
    margin-right: 15px;

}
.fa-github {
    margin-right: 15px;

}
.fa-location-dot {
    margin-right: 18px ;
    padding-left: 2px;
}

.contacts_link {
    color: #9C9C9C;
}

.contacts_link:hover {
    color:#4d2323;
}

/*--------------------------------------------*/
/*summary section*/
/*--------------------------------------------*/

.summary_page {
    border-bottom: 1px solid #672f2f;
    padding: 0 10px 35px 10px;
}

.summary_paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }

  /*--------------------------------------------*/
  /*skills section*/
  /*--------------------------------------------*/

  .skills_page {
    padding: 35px 10px;
    border-bottom: 1px solid #672f2f;
}

.skills_item {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    padding-left: 25px;
}
.skills_item span {
    color: #829985;
}

.skills_item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-image: url("../assets/index.png");
}

.skills_item:not(:last-child) {
    margin-bottom: 14.5px;
}

/*--------------------------------------------------*/
/*code section*/
/*---------------------------------------------------*/

.code_page {
    height:269px;
    padding: 35px 10px;
    border-bottom: 1px solid #672f2f;
}

.pre {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;   
}

/*------------------------------------------------*/
/*Courses section*/
/*-------------------------------------------------*/

 .courses_page {
    padding: 35px 10px;
    border-bottom: 1px solid #672f2f;
}

.courses_item {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    padding-left: 25px;
}

.courses_item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-image: url("../assets/index.png");
}

.courses_item span {
    color: #829985;
}

.courses_item:not(:last-child) {
    margin-bottom: 14.5px;
}
/*--------------------------------------------------*/
/*projects section*/
/*--------------------------------------------------*/
.projects_page {
    padding: 35px 10px;
    border-bottom: 1px solid #672f2f;
}

.projects_item {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    padding-left: 25px; 
}

.projects_item:not(:last-child) {
    margin-bottom: 35px;   
}

.projects_item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-image: url("../assets/index.png");
}

.projects_link {
    font-weight: 500 ;
    color: #4d2323;  
}

.projects_link span {
    color: #829985;
}

.projects_link:hover {
    color: #5b446a;
    transition: all 0.4s;
    border-bottom: 2px solid rgb(226, 216, 216);
}

.project_tools {
    padding-left: 10px;
}
/*--------------------------------------------------*/
/*educations section*/
/*--------------------------------------------------*/
.education_page {
    padding: 35px 10px;
}

.section_content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}
/*--------------------------------------------------*/
/*english section*/
/*---------------------------------------------------*/
.english_page {
    padding: 35px 10px;
}

.english_content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}
/*-----------------------------------------*/
/*footer*/
/*------------------------------------------*/
.footer {
    display: flex;
    justify-content:center;
    min-height: 90px;
    background-color: #4c9173;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.footer_body__conteiner {
    max-width: 1440px;
    display:flex;
    justify-content: space-between ;
    align-items: center;
    
}

.footer_link, .year  {
    color:#ffff;
    font-size: 18px;
    padding-right: 10px;
    line-height: 2.5; /* 45/18 */
}
.footer_link:hover {
    color: #5b446a;
    transition: all 0.4s;
}
.footer_image {
    width: 115px;
    height: 45px;
    background-image: url("../assets/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}











